<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AboutEverything</title>
    <link href="{% static 'user_profile/css/change_pass.css' %}" rel="stylesheet"/>
</head>
<body>
    <header class="top-panel">
    <div class="logo">
        <a href="{% url 'posts' %}" style="text-decoration: none;">AboutEverything</a>
    </div>
    <nav class="nav-links">
        <a href="{% url 'posts' %}" style="text-decoration: none;">Main</a>
        <a href="{% url 'add_post' %}" style="text-decoration: none;">Add Post</a>
        <a href="" style="text-decoration: none;">Rules</a>
        <a href="" style="text-decoration: none;">About Us</a>
        <a href="{% url 'profile' user_id %}" style="text-decoration: none;">Profile</a>
        <a href="{% url 'logout' %}" style="text-decoration: none;">Logout</a>
    </nav>
    </header>
    {% if messages %}
        <div class="{% if messages.error %} alert-error {% else %} alert-success {% endif %}" role="alert">
            {% for mess in messages %}
                <label>{{ mess }}</label>
            {% endfor %}
        </div>
    {% endif %}
    <div class="pass-card">
        <form method="post">
            {% csrf_token %}
            <div class="form">
                {{ form.as_p }}
            </div>
            <div class="save-btn">
                <button type="submit">Save</button>
            </div>
        </form>
    </div>
</body>
</html>