{% extends 'users/base.html' %}
{% load static%}
{% block link %}<link rel="stylesheet" href="{% static 'users/css/email.css' %}"/>{% endblock link %}
{% block content %}
<div class="email-card">
    <form method="POST">
        {% csrf_token %}
        <div class="form">
            {{ form.as_p }}
        </div>
        <div class="send-btn">
            <button type="submit">Send</button>
        </div>
    </form>
</div>
<div class="btn-back">
    <a href="{% url 'signin' %}" style="text-decoration: none;">Back</a>
</div>
{% endblock content %}
